body {
    background-image: linear-gradient(to bottom, #e1eec3, #3f2b96);
    color: #FBFFFE;
    margin: 0;
    box-sizing: border-box;
}

hr {
    border-style: none;
    border-top: dotted;
    border-color: #FBFFFE;
    border-width: 5px;
    width: 15%;
    margin: 5% auto;
}

p {
    font-family: "Montserrat-Light", sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.navbar {
  height: 14vh;
  padding: 1.5% 0 1.5%;
  color: #013440;
  background-color: #FBFFFE;
  opacity: 0.9;
  animation: 2s ease-out 0s 1 come-down;
}

.navbar-toggler {
    font-size: clamp(1rem, 3vw, 3.1vw);
    margin-left: 5%;
    color: #FBFFFE;
}

.navbar-brand {
  padding: 0;
  margin: 0 7%;
  font-weight: bold;
  font-size: clamp(.75rem, 1.75vw, 1.8vw);
  bottom: 0;
  text-align: center;
}

.navbar-nav {
    padding-right: 15%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: clamp(.65rem, 1.3vw, 1.3rem);
  font-family: "Montserrat-Light", sans-serif;
  color: #013440;
}

section {
    margin: 5% 10%;
}

.home-container {
    text-align: center;
}

.big-heading-container {
    font-size: clamp(5.3rem, 13vw, 13.5vw);
    font-family: 'Monoton', cursive;
    margin: 8% 0;
    letter-spacing: -.05em;
    animation: 2s ease-out 0s 1 come-down;
}

.big-heading:hover {
    color: #013440;
}

.intro-container {
    padding: 0 0 7%;
    position: relative;
    text-align: left;
}

.big-name {
    font-family: 'open-sans', sans-serif;
    font-weight: 700;
    font-size: clamp(1.85rem, 3.5vw, 3.5rem);
    margin-bottom: max(2rem, 5vw);
    letter-spacing: .4em;
}

.intro-text {
    line-height: 1.7em;
}

.intro-text:hover {
    color: #fff;
}

.home-gif {
    top: 0;
    right: 0;
    height: 80%;
    width: 50%;
    animation: 2s ease-out 0s 1 move-in-right;
}

.home-btn {
    width: 50%;
    margin: 5% 0;
    border-color: #013440;
    background-color: #013440;
    animation: 2s ease-out 0s 1 fade-in;
    color: #FBFFFE;
}

.home-btn:hover {
    color: #3f2b96;
}

.skill-container {
}

.skill-header-div {
    text-align: center;
}

.section-header {
    font-size: clamp(2.3rem, 3vw, 3rem);
    font-family: 'open-sans', sans-serif;
    font-weight: bold;
    padding: max(3%, 2rem) 0 0;
}

.skill-row {
  width: 75%;
  margin: 15% auto;
  text-align: left;
}

.skill-row-top {
    margin-top: 9%;
}

.skill {
    font-size: clamp(1.5rem, 2.1vw, 2.1rem;);
    margin-bottom: 2%;
    display: inline-block;
    position: relative;
    color: #e1eec3;
}

.skill::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 7%;
  bottom: 0;
  left: 0;
  background-color: #e1eec3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.skill:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.left-skill-img {
  width: 22%;
  float: left;
  margin-right: 5%;
}

.web-dev {
  float: right;
  width: 40%;
  margin-left: 5%;
}

.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-form {
    width: 60%;
    margin-top: 2%;
}

.form-label {
    font-size: clamp(1.2rem, 1.2vw, 1.5rem);
    font-family: "Montserrat-Light", sans-serif;
    color: #013440;
}

.form-text {
    font-size: clamp(.85rem, .85vw, 1rem);
    color: #e1eec3;
    font-family: "Montserrat-Light", sans-serif;
}

.submit-button {
    margin: 3% 25%;
    width: 50%;
    background-color: #013440;
    color: #FBFFFE;
}

.submit-button:hover {
    color: #e1eec3;
}

footer-icon {
    width: 2vw;
}

.copyright {
    color: #FBFFFE;
    text-align: center;
    font-size: 1rem;
}

.confirmation-message {
    font-size: 3vw;
    font-family: 'Open-sans', sans-serif;
    font-weight: bold;
}

.confirmation-gif {
    width: 30%;
}

@media only screen and (min-width: 991px){
    .navbar .navbar-nav .nav-item {
      position: relative;
    }
    .navbar .navbar-nav .nav-item::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #0a58ca;
      width: 0%;
      content: "";
      height: 2px;
      transition: all 0.5s;
    }

    .navbar .navbar-nav .nav-item:hover::after {
      width: 75%;
    }
    .big-heading-container {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
    }
    .home-gif {
        padding-left: 5%;
    }
}

@media only screen and (max-width: 820px){
    section {
        margin: 10% 5%;
    }
    .navbar {
        max-height: 5rem;
        background-color: #013440;
        color: #FBFFFE;
    }
    .nav-link {
        color: #FBFFFE;
    }
    .big-heading-container {
        margin: 4rem 0;
        background-image: linear-gradient(45deg, #013440, #3f2b96);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    .intro-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        color: #013440;
    }
    .home-gif {
        width: 100%;
    }
    .intro {
        margin-bottom: 10%;
    }
    .skill-row {
        width: 100%;
    }
    .left-skill-img {
        width: 34.75%;
    }
    .python {
        float: none;
        margin: 0 32.625% 10%;
    }
    .web-dev {
        width: 100%;
        margin-bottom: 10%;
    }
    .contact-form {
        width: 100%;
    }
}

@keyframes move-in-left {
  0% {
      transform: translateX(-100%);
  }
  100% {transform: translateX(0);}
}

@keyframes move-in-right {
  0% {
      transform: translateX(100%);
    }
  100% {
    transform: translateX(0);
  }
}

@keyframes come-up {
  0% {transform: translateY(100%);}
  100% {transform: translateY(0);}
}

@keyframes come-down {
  0% {transform: translateY(-100%);}
  100% {transform: translateY(0);}
}

@keyframes fade-in {
    0% {opacity: 0;}

    100% {opacity: 1;}
}

